@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,800,400');

*{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

html{
	font-family: 'Open Sans', 'Verdana', Sans-Serif;
	font-size: 1em;
	font-weight: 400;
	min-height: 100%;
	position: relative;
	background-color: #FFFFFF;
}

header.main{
	position: fixed;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	background-color: #74d1ca;
	color: #FFFFFF;
	width: 100%;
	z-index: 100;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	-o-transition: height 0.5s;
	transition: height 0.5s;
}

header.main a#logo{
	float: left;
	margin-left: 10px;
	height: 40px;
}

.dark{
	color: rgba(0, 0, 0, .3);
}

div.sub-header div.text h1{
	font-weight: 400;
}

div.sub-header div.text{
	width: 45%;
	display: inline-block;
}

div.sub-header div.image{
	display: inline-block;
	position: absolute;
	right: 0;
	top: 70px;
	z-index: 0;
}

div.sub-header div.image img{
	height: 150px;
}

div.sub-header{
	left: 0;
	right: 0;
	padding: 50px 100px;
	color: #FFFFFF;
	margin-top: 40px;
	background-color: #74d1ca;
}

header.main.small{
	height: 40px;
	border-bottom: 3px solid rgba(0, 0, 0, .3);
}

header.main.small nav#main ul li.nav-item.active{
	border-bottom: 3px solid #FFFFFF;
}

header.main nav#main{
	float: right;
	height: 100%;
}

nav#main ul{
	height: 100%;
}

header.main nav#main ul li.nav-item{
	display: inline-block;
	height: 100%;
}

li.nav-item a{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

header.main nav#main ul li.nav-item a{
	padding: 0 10px;
	height: 100%;
	text-decoration: none;
	display: block;
	line-height: 60px;
	color: #FFFFFF;
	font-size: 1.7em;
	font-weight: 800;
}

header.main.small nav#main ul li.nav-item a{
	line-height: 40px;
	font-size: 1.3em;
}

header.main nav#main ul li.nav-item a:hover{
	color: rgba(0, 0, 0, .3);
}

div#content{
	min-height: 100%;
	width: 80%;
	margin: 50px auto 100px auto;
}

button{
	border-radius: 10px;
	font-size: 1.3em;
	color: #FFFFFF;
	font-weight: 700;
	padding: 7px 20px;
	margin: 10px;
	background-color: #6EBB9B;
	cursor: pointer;
	-webkit-transition: font-size 0.2s;
	-moz-transition: font-size 0.2s;
	-ms-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
	transition: font-size 0.2s;
}

button:hover{
	font-size: 1.4em;
}

h1{font-size:2em;margin-bottom:20px}
h2{font-size:1.5em}
h3{font-size:1.25em}

ul.items{
	list-style-type: none;
}

article.post footer{
	font-size: 0.7em;
}

h1 a,
h2 a{
	text-decoration: none;
	color: #000;
}

h1 a:hover,
h2 a:hover{
	text-decoration: underline;
}

footer#main{
	bottom: 0;
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: #74d1ca;
}

footer#main div#inner{
	width: 80%;
	padding: 50px;
	color: #FFFFFF;
}

footer#main div#inner small{
	text-align: center;
}

footer ul li{
	list-style-type: none;
}